/* PARAMETERS */
.parameters-content{
    display:grid;
    grid-template-rows: 50px auto auto auto;
}
/* PARAMETERS BRIEF */
.param-brief{
    grid-row: 2 / span 1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(26,1fr);
}
.temp-brief{
    background-color: darkgoldenrod;
    grid-column: 2 / span 4;
}
.hum-brief{
    background-color: darkkhaki;
    grid-column: 7 / span 4;
}
.bright-brief{
    background-color: darkorange;
    grid-column: 12 / span 4;
}
.wath-brief{
    background-color: yellowgreen;
    grid-column: 17 / span 4;
}
.nut-brief{
    background-color: goldenrod;
    grid-column: 22 / span 4;

}
.brief-item{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.brief-header{  
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}
.brief-value{
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
    margin-left: 10px;
}
.brief-icon{
    height: 60%;
    width: 60%;
    align-self: center;
    justify-self: start;
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
}
/* PARAMETERS BRIEF END */


/* PARAMETERS DIAGRAMS */
.patameters-diagram{
    grid-row: 3 / span 1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(25,4%);
    grid-template-rows: repeat(25,4%);
  }
  .temp-diagram{
    grid-column: 2 / span 11;
    grid-row: 2 / span 11;
  }
  .hum-diagram{
    grid-column: 14 / span 11;
    grid-row: 2 / span 11;
  }
  .bright-diagram{
    grid-column: 2 / span 11;
    grid-row: 14 / span 11;
  
  }
  .wath-diagram{
    grid-column: 14 / span 11;
    grid-row: 14 / span 11;
  }
  .diagram{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(6,1fr);
  }
  .diagram-h{
    grid-row: 1 /span 1;
    background-color:rosybrown;
  }
  .diagram-d{
    grid-row: 2/ span 5;
  
  }
  /* PARAMETERS DIAGRAMS END */
  /* PARAMETERS SENSORS START */
  .param-sensors{
    height: 400px;
    grid-row: 4 / span 1;
    background-color: blue;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(26,1fr);
  }
  .sensors-list{
    background-color: chartreuse;
    grid-column: 2/ span 15;
  }
  .new-sensor{
    background-color: chartreuse;
    grid-column: 18/ span 5;
  }
  /* PARAMETERS SENSORS END */
  .img{
    width:100%;
    height:100%;
  }

  /* PARAMETERS END */