
:root {
  --dashboard-color: #f2ebe9;
  --card-color: #ffffff;
  --card-header-color:#f0f0f0;
  --medium-shadow: 5px 5px 10px #baafaf;
}
.white-card{
  background-color: var(--card-color);
}
.white-card-header{
  background-color: var(--card-header-color);
}
.medium-shadow{
  box-shadow: var(--medium-shadow);
}
.header-text{
  margin: 5px 0px 0px 10px;
}
.white-text{
  color:white;
}
.header-text-big{
  
}
.header-text-medium{
  
}
.header-text-small{
  
}
.App{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(24,1fr);
  grid-template-rows: repeat(20,5%);
  background-color:  var(--dashboard-color);
}
/* HEADER */
.header{
  background-color:white; 
  grid-column: 1 / span 24;
  grid-row: 1 / span 1;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(24,1fr);
}
.h-logo{
  /* background-color: chocolate; */
  grid-column: 1 / span 3;
}
.h-user{
  grid-column: 20 / span 2;
}
.h-drop{
  grid-column: 22 / span 2;
}
.logo-img{

  width: 50%;
}
/* HEADER END */



/* DASHBOARD */
.dashboard{
  /* background-color: var(--dashboard-color); */
  overflow-y: scroll;
  grid-column: 4 / last-line;
  grid-row: 2 / last-line;
}
/* DASHBOARD END */

